[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "distant/vim-pathogen"]
	path = distant/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "distant/hardmode"]
	path = distant/hardmode
	url = https://github.com/wikitopian/hardmode
[submodule "distant/editorconfig-vim"]
	path = distant/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "distant/prezto"]
	path = distant/prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "blender/2.78/scripts/addons/animation_nodes"]
	path = blender/2.78/scripts/addons/animation_nodes
	url = https://github.com/JacquesLucke/animation_nodes.git
